@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Advent of Code 2021</h1>
    <p>Brought to you by <a href="https://github.com/Naelsh/">Naelsh</a></p>
</div>
